@font-face {
    font-family: Farro;
    src: url(./assets/fonts/Farro/Farro-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

/* ? ###################### Clamp ##################### */

h1 {
    font-size: clamp(4.5rem, 5vw, 7rem);
    color: white;
}
h2 {
    font-size: clamp(2.5rem, 3vw, 3.5rem);
    color: white;
}
h3 {
    font-size: clamp(2.5rem, 3.3vw, 4rem);
}

p,
label {
    font-size: clamp(2rem, 2vw, 2rem);
    color: white;
}
a,
li {
    font-size: clamp(2rem, 2vw, 2rem);
    opacity: 0.85;
}

a:hover {
    opacity: 1;
    filter: brightness(1);
}

/* ? ################## Wrapper #################### */

/* ? ################### Header ###################### */

header {
    height: 100vh;
    background-image: url(./assets/images/bg-riotGames.jpg);
    background-size: cover;
    background-position: fixed;
}

/* ! ###### Nav include Animation ############ */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    background-color: black;
    position: absolute;
    min-width: 100vw;
    animation: slide-down 2s ease-out 0s 1;
}

@keyframes slide-down {
    from {
        margin-top: -10%;
    }
    to {
        margin-top: 0%;
    }
}

/* ! ############################################### */

.links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.links a {
    color: white;
    font-weight: 700;
    margin-left: 3rem;
}

.links img {
    width: 55%;
}

.button {
    background: #ff4655;
    border-radius: 1.875rem;
    color: black;
    font-weight: 700;
    padding: 1rem 2rem;
}

section {
    display: flex;
}

/* ! ################### Left Container include Animation ################## */

.leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5%;
    padding-left: 3vw;
    min-width: 33%;
    min-height: 100vh;
    animation: slide-to-right 2s ease-out;
}

@keyframes slide-to-right {
    from {
        margin-left: -50%;
    }

    to {
        margin-left: 0;
    }
}

span {
    color: white;
    position: absolute;
    top: 10px;
    left: -30px;
    font-size: clamp(2rem, 2.5vw, 3rem);
    font-weight: 900;
    padding-right: rem;
}

.leftContainer a {
    font-size: clamp(5rem, 6vw, 9rem);
    color: white;
    font-weight: 700;
    margin-bottom: 2rem;
    position: relative;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff4655;
}

.leftContainer a:hover {
    opacity: 1;
    text-decoration: underline 5px;
    text-underline-offset: 10px;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #ffffff;
}

.active span,
.leftContainer .active {
    color: #ff4655;
}

/* ! ############## Middle Container include Animation ################### */

.middleContainer {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* visibility: hidden; */
    animation: grow 2s ease-out;
}

.middleContainer img {
    /* visibility: hidden; */
    height: 70%;
}

@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* !###################### End Animation ########################## */

/* ! #################### Right  Container include Animation */

.rightContainer {
    max-width: 33%;
    padding-top: 15%;
    animation-name: opacity;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ! ################################### End Animation ##################### */
.rightContainer p {
    max-width: 50%;
    font-weight: 500;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #ff4655;
}

.rightContainer hr {
    max-width: 50%;
    margin-bottom: 5rem;
}

.headingContainer img {
    margin-bottom: 3rem;
}

.rightContainer h1,
.rightContainer h2,
.rightContainer p {
    margin-bottom: 2rem;
}

.cube {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
}

/* ? ######################## Media Queries #################### */

@media only screen and (max-width: 1330px) {
    nav {
        animation: none;
        flex-direction: column;
        position: static;
        gap: 2rem;
    }

    .links {
        font-size: 75%;
    }

    .leftContainer {
        position: static;
    }
}

@media only screen and (max-width: 968px) {
    section {
        flex-direction: column;
        align-items: center;
    }
    .rightContainer {
        background: #ff4655;
        padding: 5% 20%;
        max-width: 90vw;
        margin-bottom: 4vw;
    }

    .text p {
        max-width: 75%;
    }

    hr {
        max-width: 10%;
    }

    .middleContainer {
        margin-bottom: 4vw;
        max-width: 75%;
    }
}

@media only screen and (max-width: 520px) {
    .leftContainer,
    .middleContainer,
    .rightContainer {
        margin-bottom: 2vw;
        animation: none;
    }

    .middleContainer {
        height: 100%;
    }
}
